[Desktop Entry]
Exec=gksudo -u root /usr/local/bin/multiosc
Icon=adi-osc
Terminal=false
Type=Application
Categories=Science
Name=ADI IIO Multi Plot Oscilloscope
GenericName=ADI IIO Multi Plot Oscilloscope
