[Desktop Entry]
Exec=gksudo -u root /usr/local/bin/osc
Icon=adi-osc
Terminal=false
Type=Application
Categories=Science
Name=ADI IIO Oscilloscope
GenericName=ADI IIO Oscilloscope
