[Desktop Entry]
Exec=gksudo -k -u root multiosc
Icon=adi-osc
Terminal=false
Type=Application
Categories=Science
Name=ADI MULTI PLOT IIO Oscilloscope
GenericName=ADI MULTI PLOT IIO Oscilloscope
