[Desktop Entry]
Version=1.0
Name=IIO Oscilloscope
Comment=Analog Devices IIO Oscilloscope Application
Exec=osc %F
Icon=osc128
Terminal=false
Type=Application
Categories=Development;Electronics;Engineering;
StartupNotify=true
