[Desktop Entry]
Name=ADI IIO Oscilloscope
GenericName=Analog Devices IIO Oscilloscope
Exec=/usr/bin/osc-wrapper
Icon=/usr/share/osc/osc128.png
Terminal=false
Type=Application
Categories=Development;Electronics;Engineering;
